<!-- <div class="container">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>

<mat-sidenav-container>

        <mat-sidenav #sidenav role="navigation">
          <app-sidenav (sidenavClose)="sidenav.close()"></app-sidenav>
        </mat-sidenav>
    
        <mat-sidenav-content>
          <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    
          <div fxLayout="row" fxLayoutAlign="stretch" class="h-100">
            
            <div fxFlex="220px" fxHide.lt-sm class="main-nav">
              <app-sidenav></app-sidenav>
            </div>
    
            <main fxFlex [@routerSlideAnimation]="getRouteAnimation(o)">
              <router-outlet #o="outlet"></router-outlet>
            </main>
    
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
 -->

