<div class="container-fluid">
  <div class="row">
    <div class="col-12 pt-2">
      <div class="row header">
        <div class="col-12">
          <h2 class="float-left">Detalle Usuario</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <form [formGroup]="form" (ngSubmit)="submit()">
            <div [hidden]="true">
              <mat-form-field>
                <input matInput formControlName="id" />
              </mat-form-field>
            </div>
      
            <div>
              <mat-form-field class="col-12">
                <input matInput placeholder="Nombre" formControlName="nombre" />
                <mat-error *ngIf="messages.nombre">
                  {{ messages.nombre }}
                </mat-error>
              </mat-form-field>
            </div>
      
            <div>
              <mat-form-field class="col-12">
                <input matInput placeholder="Apellidos" formControlName="apellidos" />
                <mat-error *ngIf="messages.apellidos">
                  {{ messages.apellidos}}
                </mat-error>
              </mat-form-field>
            </div>

            <div>
                <mat-form-field class="col-12">
                    <input matInput placeholder="Correo Eléctronico" formControlName="correoElectronico" />
                    <mat-error *ngIf="messages.correoElectronico">
                    {{ messages.correoElectronico}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="col-12">
                    <input matInput placeholder="Cédula" formControlName="cedula" />
                    <mat-error *ngIf="messages.cedula">
                    {{ messages.cedula}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="col-12">
                    <input matInput placeholder="Dirección" formControlName="direccion" />
                    <mat-error *ngIf="messages.direccion">
                    {{ messages.direccion}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="col-12">
                    <input matInput placeholder="Teléfono" formControlName="telefono" />
                    <mat-error *ngIf="messages.telefono">
                    {{ messages.telefono}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="col-12">
                    <input matInput placeholder="Celular" formControlName="telefonoCelular" />
                    <mat-error *ngIf="messages.telefonoCelular">
                    {{ messages.telefonoCelular}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-12">
              <button mat-raised-button color="primary" type="submit"
                [disabled]="(!form.valid && form.dirty) || !form.dirty || updating">
                Guardar
              </button>
              &nbsp;
              <button *ngIf="updating" mat-raised-button type="button" color="warn" (click)="delete(model.id)">Eliminar</button> 
              &nbsp;
              <button mat-raised-button type="button" color="primary" (click)="goToList()">Volver</button>
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <mot-motorcycle-list-user [idUser]="model.id" *ngIf="updating && !!model"></mot-motorcycle-list-user>
</div>


