<button class="m-2" mat-raised-button color="primary" (click)="getAll()">Buscar</button> 
<mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="apellidos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
        <td mat-cell *matCellDef="let row"> {{row.apellidos}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="identificacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cédula </th>
        <td mat-cell *matCellDef="let row"> {{row.identificacion}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
        <td mat-cell *matCellDef="let row" > {{row.direccion}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="correoElectronico">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
        <td mat-cell *matCellDef="let row" > {{row.correoElectronico}} </td>
      </ng-container>

       <!-- Color Column -->
       <ng-container matColumnDef="telefonoCelular">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
        <td mat-cell *matCellDef="let row" > {{row.telefonoCelular}} </td>
      </ng-container>

       <!-- Color Column -->
       <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
        <td mat-cell *matCellDef="let row" > {{row.telefono}} </td>
      </ng-container>

       <!-- Color Column -->
       <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
        <td mat-cell *matCellDef="let row" > {{row.rol}} </td>
      </ng-container>

      <ng-container matColumnDef="actionsColumn">
        <th mat-header-cell *matHeaderCellDef>
            <button class="m-2" mat-raised-button color="primary" (click)="goEdit(0)">Nuevo</button> 
        </th>
        <td mat-cell *matCellDef="let row"> 
            <button mat-button type="button" color="primary" (click)="goEdit(row.id)">Editar</button>
            <button mat-button type="button" color="warn" (click)="delete(row.id)">Eliminar</button> 
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>