<div class="new-usuario-container">
  <h3>Nuevo Cliente</h3>
  <form [formGroup]="newUsuarioForm" (ngSubmit)="save()">
    <mat-dialog-content>

      <div class="element-form">
        <mat-form-field class="new-usuario-form-field">
          <input type="text" matInput placeholder="Cédula" aria-label="Cédula" formControlName="cedula" />
          <mat-error *ngIf="newUsuarioForm.get('cedula').hasError('required')">Requerido</mat-error>
          <mat-error *ngIf="newUsuarioForm.get('cedula').hasError('cannotContainSpace')">Cédula no puede contener espacios</mat-error>
        </mat-form-field>
      </div>
      <div class="element-form">
        <mat-form-field class="new-usuario-form-field">
          <input type="text" matInput placeholder="Nombre" aria-label="Nombre" formControlName="nombre" />
          <mat-error *ngIf="newUsuarioForm.get('nombre').hasError('required')">Requerido</mat-error>
          <mat-error *ngIf="newUsuarioForm.get('nombre').hasError('cannotContainSpace')">Nombre no puede contener espacios</mat-error>
        </mat-form-field>

      </div>
      <div class="element-form">
        <mat-form-field class="new-usuario-form-field">
          <input type="text" matInput placeholder="Apellidos" aria-label="Apellidos" formControlName="apellidos" />
          <mat-error *ngIf="newUsuarioForm.get('apellidos').hasError('required')">Requerido</mat-error>
        </mat-form-field>
      </div>
      <div class="element-form">
        <mat-form-field class="new-usuario-form-field">
          <input type="text" matInput placeholder="Correo" aria-label="Correo" formControlName="correoElectronico" />
          <mat-error *ngIf="newUsuarioForm.get('correoElectronico').hasError('required')">Requerido</mat-error>
          <mat-error *ngIf="newUsuarioForm.get('correoElectronico').hasError('cannotContainSpace')">Correo no puede contener espacios</mat-error>
        </mat-form-field>
      </div>
      <div class="element-form">
        <mat-form-field class="new-usuario-form-field">
          <input type="text" matInput placeholder="Dirección" aria-label="Dirección" formControlName="direccion" />
          <mat-error *ngIf="newUsuarioForm.get('direccion').hasError('required')">Requerido</mat-error>
          <mat-error *ngIf="newUsuarioForm.get('direccion').hasError('cannotContainSpace')">Dirección no puede contener espacios</mat-error>
        </mat-form-field>
      </div>
      <div class="element-form">
        <mat-form-field class="new-usuario-form-field">
          <input type="text" matInput placeholder="Celular" aria-label="Celular" formControlName="telefonoCelular" />
          <mat-error *ngIf="newUsuarioForm.get('telefonoCelular').hasError('required')">Requerido</mat-error>
          <mat-error *ngIf="newUsuarioForm.get('telefonoCelular').hasError('cannotContainSpace')">Celular no puede contener espacios</mat-error>
        </mat-form-field>
      </div>
      <div class="element-form">
        <mat-form-field class="new-usuario-form-field">
          <input type="text" matInput placeholder="Teléfono" aria-label="Teléfono" formControlName="telefono" />
          <mat-error *ngIf="newUsuarioForm.get('telefono').hasError('cannotContainSpace')">Teléfono no puede contener espacios</mat-error>
        </mat-form-field>
      </div>

    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cerrar</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="newUsuarioForm.invalid">Guardar</button>
    </mat-dialog-actions>
  </form>
</div>
